---
import { Image } from "astro:assets";
import { siteName, phone, email, address, cvr } from "~/data/config";
import { menuShortcuts, menuLegal } from "~/data/menus";
import SocialMediaIcons from "./SocialMediaIcons.astro";
import Logo from "~/assets/images/brand/logo.png";

const year = new Date().getFullYear();
---

<footer class="bg-gray-50">
	<div class="container py-16">
		<div class="lg:grid lg:grid-cols-3 lg:gap-12">
			<div>
				<a href="/" aria-label={siteName}>
					<Image src={Logo} alt={siteName} class="h-16 w-auto" loading="lazy" />
				</a>
				<p class="mt-6 text-base text-gray-600 max-w-md">
					Hos 1X2 Biler har vi siden 1984 hjulpet kunder med at finde den helt
					rigtige bil. Vi tror på tryghed, ærlig rådgivning og biler, der passer
					til dine behov.
				</p>
			</div>

			<div class="mt-12 grid grid-cols-1 sm:grid-cols-2 gap-8 lg:col-span-2 lg:mt-0">
				{
					menuShortcuts.items.length > 0 && (
						<div>
							<span class="text-base font-semibold">{menuShortcuts.prettyName}</span>
							<ul role="list" class="mt-6 space-y-4">
								{menuShortcuts.items.map((item) => (
									<li>
										<a
											href={item.url}
											target={item.isExternal ? "_blank" : undefined}
											rel={item.isExternal ? "noopener noreferrer" : undefined}
											class="text-base transition text-gray-600 hover:text-gray-800"
										>
											{item.name}
										</a>
									</li>
								))}
							</ul>
						</div>
					)
				}

				<div>
					<span class="text-base font-semibold">Kontaktinfo</span>
					<ul role="list" class="mt-6 space-y-4 text-base text-gray-600">
						<li>
							<a href={phone.href} class="transition hover:text-gray-800">
								{phone.label}
							</a>
						</li>
						<li>
							<a href={email.href} class="transition hover:text-gray-800">
								{email.label}
							</a>
						</li>
						<li class="not-italic">
							<address class="not-italic">
								{address.street}<br />
								{address.zip} {address.city}
							</address>
						</li>
						<li>CVR: {cvr}</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="mt-16 border-t border-gray-800/10 pt-8 md:flex md:items-center md:justify-between">
			<div class="flex gap-x-6 md:order-2">
				<SocialMediaIcons />
			</div>
			<div class="mt-6 md:mt-0 md:order-1 flex flex-wrap items-center gap-x-6 gap-y-2 text-sm/6 text-gray-600">
				<p>&copy; {year} {siteName}. Alle rettigheder forbeholdes.</p>
				{
					menuLegal.items.map((item) => (
						<a href={item.url} class="transition hover:text-gray-800">
							{item.name}
						</a>
					))
				}
			</div>
		</div>
	</div>
</footer>
