---
export const prerender = false;

import { getCollection, type CollectionEntry } from "astro:content";
import { siteName, priceSteps, defaultPaginationSize } from "~/data/config";
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Container from "~/components/Container.astro";
import Heading from "~/components/Heading.astro";
import Button from "~/components/Button.astro";
import CardCar from "~/components/car/CardCar.astro";
import SidebarFilters from "~/components/sidebars/SidebarFilters.astro";
import Pagination from "~/components/Pagination.astro";
import SearchSort from "~/components/SearchSort.astro";
import PresetBar from "~/components/PresetBar.astro";
import FilterBarMobile from "~/components/FilterBarMobile.astro";

type Car = CollectionEntry<"cars">;
type CarData = Car["data"];
type CarFilter = (data: CarData) => boolean;

const searchParamsValue = Astro.url.searchParams;
const searchParamsArray = Array.from(searchParamsValue);

const make = searchParamsValue.get("make") ?? undefined;
const model = searchParamsValue.get("model") ?? undefined;
const yearFrom = searchParamsValue.get("yearFrom") ?? undefined;
const yearTo = searchParamsValue.get("yearTo") ?? undefined;
const price = searchParamsValue.get("price") ?? undefined;
const mileageFrom = searchParamsValue.get("mileageFrom") ?? undefined;
const mileageTo = searchParamsValue.get("mileageTo") ?? undefined;
const fuelType = searchParamsValue.get("fuelType") ?? undefined;
const bodyType = searchParamsValue.get("bodyType") ?? undefined;
const transmission = searchParamsValue.get("transmission") ?? undefined;
const color = searchParamsValue.get("color") ?? undefined;
const condition = searchParamsValue.get("condition") ?? undefined;
const sort = searchParamsValue.get("sort") ?? undefined;
const search = searchParamsValue.get("search") ?? undefined;

const filters: CarFilter[] = [];

if (make && make !== "all") {
	filters.push((data) => data.general.make === make);
}

if (model && model !== "all" && make && make !== "all") {
	filters.push((data) => data.general.model === model);
}

if (yearFrom) {
	filters.push((data) => data.history.year >= Number.parseInt(yearFrom));
}

if (yearTo) {
	filters.push((data) => data.history.year <= Number.parseInt(yearTo));
}

if (price && price !== "all") {
	const [minPrice, maxPrice] = price.split("-").map(Number);
	filters.push((data) => {
		const regularPrice = data.general.price;
		const salePrice = data.general.salePrice;
		if (maxPrice) {
			return (
				(regularPrice >= minPrice && regularPrice <= maxPrice) ||
				(salePrice !== undefined && salePrice >= minPrice && salePrice <= maxPrice)
			);
		}
		return regularPrice >= minPrice || (salePrice !== undefined && salePrice >= minPrice);
	});
}

if (mileageFrom) {
	filters.push((data) => data.history.mileage >= Number.parseInt(mileageFrom));
}

if (mileageTo) {
	filters.push((data) => data.history.mileage <= Number.parseInt(mileageTo));
}

if (fuelType && fuelType !== "all") {
	filters.push((data) => data.efficiency.fuelType === fuelType);
}

if (bodyType && bodyType !== "all") {
	filters.push((data) => data.general.bodyType === bodyType);
}

if (transmission && transmission !== "all") {
	filters.push((data) => data.technical.transmission === transmission);
}

if (color && color !== "all") {
	filters.push((data) => data.exterior.color === color);
}

if (condition && condition !== "all") {
	filters.push((data) => data.general.condition === condition);
}

if (search) {
	const searchQueries = search
		.toLowerCase()
		.replace(/[^a-zA-Z0-9\s]/g, "")
		.split(" ");

	filters.push((data) => {
		const searchableFields = [
			data.general.make,
			data.general.model,
			data.general.bodyType,
			data.exterior.color,
			data.technical.transmission,
			data.history.year.toString(),
			data.general.condition,
		];
		return searchQueries.every((query) =>
			searchableFields.some((field) => field?.toLowerCase().includes(query) ?? false)
		);
	});
}

const allCars: Car[] = await getCollection("cars", ({ data }) => {
	return filters.every((filter) => filter(data));
});

if (sort) {
	const order = sort.endsWith("-asc") ? 1 : -1;
	allCars.sort((a, b) => {
		let aValue: number = 0;
		let bValue: number = 0;
		switch (sort) {
			case "price-asc":
			case "price-desc":
				aValue = a.data.general.salePrice ?? a.data.general.price;
				bValue = b.data.general.salePrice ?? b.data.general.price;
				break;
			case "mileage-asc":
			case "mileage-desc":
				aValue = a.data.history.mileage;
				bValue = b.data.history.mileage;
				break;
			case "year-asc":
			case "year-desc":
				aValue = a.data.history.year;
				bValue = b.data.history.year;
				break;
		}
		if (aValue < bValue) return -1 * order;
		if (aValue > bValue) return 1 * order;
		return 0;
	});
}

const makes = [...new Set(allCars.map((car: Car) => car.data.general.make))].sort();
const colors = [...new Set(allCars.map((car: Car) => car.data.exterior.color))].sort();
const count = allCars.length;

const sideBarData = {
	makes,
	colors,
	count,
	priceSteps,
};

const page = parseInt(searchParamsValue.get("page") || "1");
const pageSize = defaultPaginationSize;
const totalPages = Math.ceil(allCars.length / pageSize);
const paginatedCars = allCars.slice((page - 1) * pageSize, page * pageSize);
---

<Layout
	title="Biler til salg"
	pageTitle={`Biler til salg | ${siteName}`}
	description="Vi har altid et udvalg af brugte biler på lager – og kan skaffe den helt rigtige, hvis du ikke finder den her."
>
	<Section>
		<Container>
			<Heading class:list={"max-w-3xl"}>
				<h1 slot="heading-title">Find din næste bil hos os</h1>
				<p slot="heading-content">
					<em
						>Vi har altid et udvalg af brugte biler på lager – og kan skaffe den helt
						rigtige, hvis du ikke finder den her.</em
					>
				</p>
				<Button href="/kontakt-os" class:list={"mt-6"}>Kontakt os i dag</Button>
			</Heading>
		</Container>
	</Section>

	<Section class:list={"bg-gray-50 max-lg:max-w-svw max-lg:overflow-hidden"}>
		<Container class:list={"pt-0 max-lg:px-0 max-lg:max-w-full"}>
			<div class="flex flex-col lg:flex-row">
				<FilterBarMobile params={searchParamsArray} />

				<SidebarFilters data={sideBarData} />

				<main class="lg:pl-16 grow">
					<div class="lg:px-8">
						<SearchSort />

						<div class="max-lg:hidden">
							<PresetBar params={searchParamsArray} />
						</div>

						<ul class="grid grid-cols-1 lg:gap-16">
							{
								paginatedCars.length > 0 ? (
									paginatedCars.map((car) => <CardCar car={car} />)
								) : (
									<li class="text-center text-gray-500">Ingen biler fundet</li>
								)
							}
						</ul>

						{
							paginatedCars.length > 0 && totalPages > 1 && (
								<Pagination page={page} totalPages={totalPages} searchParams={searchParamsValue} />
							)
						}
					</div>
				</main>
			</div>
		</Container>
	</Section>
</Layout>

<script>
	document.addEventListener("astro:page-load", function () {
		const buttonModalFilterOpen = document.getElementById("button-modal-filter-open");
		const buttonModalFilterClose = document.getElementById("button-modal-filter-close");
		const sidebarFiltersMobile = document.getElementById("sidebar-filter");

		if (sidebarFiltersMobile) {
			buttonModalFilterOpen?.addEventListener("click", () => {
				sidebarFiltersMobile.classList.remove("max-lg:opacity-0", "max-lg:pointer-events-none");
			});

			buttonModalFilterClose?.addEventListener("click", () => {
				sidebarFiltersMobile.classList.add("max-lg:opacity-0", "max-lg:pointer-events-none");
			});
		}
	});
</script>
